# Group 1 Capstone Project Work
### Make sure to make / checkout your own branch before making changes

In [6]:
import pandas as pd
import sqlite3

movie_gross_df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
movie_info_df = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t')
reviews_df = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding='latin')
movies_df = pd.read_csv('zippedData/tmdb.movies.csv.gz', index_col = 0)
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

conn = sqlite3.connect('im.db')

# Maddie Hince

In [10]:
import pandas as pd
import sqlite3

df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df.head()


conn = sqlite3.connect('zippedData/im.db.zip')
pd.read_sql("""SELECT *""")

DatabaseError: Execution failed on sql '
SELECT *
FROM im
': file is not a database

# Cat Murad

# Elijah Soba

# Luis Estrada

In [8]:

#movie_gross_df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
#movie_gross_df

#working on establishing connection to database, commiting

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [9]:
q1 = """
SELECT *
FROM year
;
"""

q1_result = pd.read_sql(q1, conn)
q1_result

DatabaseError: Execution failed on sql '
SELECT *
FROM year
;
': no such table: year

# Kilmar Lazo

# Michael Eugene